# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Azure Publish Profiles
**/Properties/PublishProfiles/

# Azure Service Dependencies
**/ServiceDependencies/

# Application Insights local files
*.PublishSettings